@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Gradient colors */
  --color-primary: #07be8a;
  --color-skyblue: #79adff;
  --color-lightskyblue: #9cc2dd;
  --color-dark: #172023;

  /* Shadow */
  --shadow-3xl: 0px 4px 6px -2px #0000000D, 0px 10px 15px -3px #0000001A;
  --shadow-auth: 0 20px 25px -5px #0000001a;
  --shadow-dark-auth: rgba(255, 255, 255, 0.1) 0px 12px 28px 0px, rgba(255, 255, 255, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  /* font size */
  --text-xm: 1.125rem;
  --text-9xl: 6.5rem;
  --text-40: 2.5rem;
  --text-52: 3.25rem;
  --text-sm: 0.875rem;

  /* Breakpoint */
  --breakpoint-xs: 23.438rem;
  /* 375px */
  --breakpoint-mobile: 32.5rem;
  /* 520px */

  /* breakpoint / max-w */
  --spacing-45p: 45%;
  --spacing-85p: 85%;
  --spacing-90p: 90%;
  --spacing-68: 17.375rem;

  --spacing-540: 33.75rem;
  /* 540px */
  --spacing-8xl: 87.5rem;
  /* 1400px */

  /* animation */
  --animate-slide: slide 20s linear infinite;

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-103%);
    }
  }
}

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

section {
  @apply py-24
}

@keyframes IconUtilitisActive {
  0% {
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  100% {
    width: 90px;
    height: 90px;
    opacity: 0;
  }
}

.utility-dot-active::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(241, 241, 241);
  border-image: initial;
  pointer-events: none;
  animation: IconUtilitisActive 1.5s ease-out 0s infinite normal none running;
}

.utility-dot-active::after {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  border-radius: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(241, 241, 241);
  transition: 400ms;
  pointer-events: none;
  animation: IconUtilitisActive 1.5s ease-out 0.4s infinite normal none running;
}